{% extends 'base.html' %}
{% load string_filter users_tags %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="ui breadcrumb">
    <a class="section" href="/">首页</a>
    <div class="divider"> / </div>
    <div class="active section">{{ category.name }}</div>
  </div>
  {% if category.description or category.categorytag_set.count %}
  <div class="ui segment">
    {{ category.description|safe }}
    {% for tag in category.categorytag_set.all %}
      <a class="ui label {{ tag.color }}" href="?tag_id={{ tag.id }}" style="height: 2rem; margin:0px;">{{ tag.name }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% include 'posts/form.html' %}  

  <div class="ui divided list segment" id="post-list">
    {% for post in posts.object_list %}
    <div class="item">
      <img class="ui avatar image" src="{{ post.author.email|gravatar }}">
      <div class="content">
        <div class="header"><a href="{% url 'post_detail' post.id %}">{{ post.title }} {%if post.tag and not request.GET.tag_id %}<label class="ui label small {{ post.tag.color }}" style="border-radius: 0px;height: 1.5rem; line-height: 1;">{{ post.tag.name }}</label>{% endif %}</a></div>
        <p>{{ post.created_at|date:"Y-m-d H:i:s" }}</p>
      </div>
      <div class="right floated ui grid">
        <div class="eight wide column computer only">
          <div><strong class="number">{{ post.count.reply }}</strong>回帖数</div>
          <div><strong class="number">{{ post.pageviews }}</strong>阅读数</div>
        </div>
        <div class="eight wide column computer only" style="line-height: 2.5;">
          {% if post.latest_reply %}
          <a href="{% url 'profile' post.latest_reply.author.id %}" class="reply-avatar" title="{{ post.latest_reply.author.username }}"><img class="ui image avatar" src="{{ post.latest_reply.author.email|gravatar }}" /></a>
          <a href="{% url 'post_detail' post.id %}#latest">{{post.latest_reply.created_at|date:"Y-m-d H:i:s"}}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="ui pagination menu">
      {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}{%if request.GET.tag_id%}&tag_id={{request.GET.tag_id}}{%endif%}" class="icon item"><i class="left arrow icon"></i></a>
      {% endif %} 
      {% for i in paginator.page_range %}
      <a href="?page={{i}}{%if request.GET.tag_id%}&tag_id={{request.GET.tag_id}}{%endif%}" class="active item">{{i}} </a>
      {% endfor %}
      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}{%if request.GET.tag_id%}&tag_id={{request.GET.tag_id}}{%endif%}" class="icon item"><i class="right arrow icon"></i></a>
      {% endif %}
    </ul>
  </div>
</div>


{% endblock %}

{% block script %}
<script>
{% if user.is_authenticated %}

{% endif %}
</script>
{% endblock %}
