{% extends "base.html" %}
{% load string_filter users_tags %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
<style>
.ui.modal>.content {padding: .7em;}
.ui.modal>.buttons {text-align: right; padding: 1rem 1rem;}
</style>
<div id="main">
  <div class="ui segment">
    <div class="ui breadcrumb">
      <a class="section" href="/">首页</a>
      <div class="divider"> / </div>
      <a class="section" href="{% url 'category' post.category.id %}">{{post.category.name}}</a>
      <div class="divider"> / </div>
      <div class="active section">{{post.title}}</div>
    </div>
  </div>
  
  <div id="post-and-reply">
    <div class="ui segment">
      <a href="#" class="avatar"><img class="ui image avatar" src="{{ post.author.email|gravatar }}" /></a>
      <div class="content">{{ post.content|safe }}</div>
      <div class="footer" data-object-id="{{ post.id }}" data-type="post">
        <div class="post-toolbar">
          <ul>
            <li onclick="showModal(event, this)"><a href="javascript:void(0)" class="js-reply-post"><i class="reply mail icon"></i>回复</a></li>
          </ul>
        </div>
        <div class="meta"><a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> | {{ post.created_at| date:"Y-m-d H:i:s" }}</div>
      </div>
    </div>

    {% for reply in post_replies %}
    <div class="ui segment" id="js-id-reply-{{ reply.id }}">
      <a href="#" class="avatar"><img class="ui image avatar" src="{{ reply.author.email|gravatar }}" /></a>
      <div class="content">{{ reply.content|safe }}</div>
      <div class="footer" data-object-id="{{ reply.id }}" data-type="reply">
        <div class="post-toolbar">
          <ul>
            <li onclick="showModal(event, this)" data-username="{{ reply.author.username }}"><a href="javascript:void(0)" class="js-reply-post"><i class="reply mail icon"></i>回复</a></li>
          </ul>
        </div>
        <div class="meta"><a href="{% url 'profile' post.author.id %}">{{ reply.author }}</a> | {{ reply.created_at| date:"Y-m-d H:i:s" }}</div>
        <div class="clearfix"></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui modal" id="js-id-modal">
<!--   <i class="close icon"></i> -->
  <div class="content">
    <form id="js-id-form">{% csrf_token %}
    <div class="ui form">
      <div class="field">
        <div class="input"><input type="text" name="title" value="{{ post.title }}" /></div>
      </div>
      <div class="field">
        <div id="js-id-modal-editor"></div>
        <textarea name="content" style="display: none;"></textarea>
      </div>
    </div>
    </form>
  </div>
  <div class="buttons">
    <a href="javascript:void(0)" class="ui button green" id="js-id-btn-save">提交</a>
    <div class="ui button" onclick="$('#js-id-modal').modal('hide');">取消</div>
  </div>
</div>
{% endblock %}

{% block script %}


<script>
if (location.hash == '#latest') window.scrollTo(0, document.body.scrollHeight);

function renderReply(replyId) {
  ajaxWrapper('GET', '{% url 'reply_post' post.id %}', {'reply_id': replyId}, function (response) {
    var newReply = window.newReply = document.getElementById('post-and-reply').querySelector('.segment').cloneNode(true),
      user = response.user;
    newReply.setAttribute('id', 'js-id-reply-' + replyId);
    newReply.querySelector('.avatar img').src = response.user.gravatar;
    newReply.querySelector('.content').innerHTML = response.content;
    var footer = newReply.querySelector('.footer');
    footer.querySelector('.meta').innerHTML = '<a href="/profile/'+ user.id +'/">'+ user.username +'</a> | '+ response.created_at;
    footer.querySelector('.post-toolbar ul li').setAttribute('data-username', response.user.username);
    footer.setAttribute('data-type', 'reply');
    footer.setAttribute('data-object-id', replyId);
    footer.addEventListener('mouseenter', addIcons);
    footer.addEventListener('mouseleave', removeIcons);
    document.getElementById('post-and-reply').appendChild(newReply);
    window.scrollTo(0, document.body.scrollHeight);
  });
}

function showModal(event, element, isEdit) {
  var username = element ? element.getAttribute('data-username') : null;
  {% if not user.is_authenticated %}
  alert('请先登陆');
  location.href = '/login/?next=/post/{{post.id}}/'
  return false;
  {% endif %}

  $('#js-id-modal')
    .modal('setting', {
      onShow: function () {
        window.editor = new Quill('#js-id-modal-editor'),
          titleInput = document.querySelector('#js-id-form input[name="title"]'),
          saveBtn = document.getElementById('js-id-btn-save')

        if (isEdit) {
          titleInput.value = '{{ post.title }}';
          titleInput.removeAttribute('disabled');
          editor.setHTML('{{ post.content|safe }}');

          saveBtn.setAttribute('data-action', 'edit');
        }
        else { 
          titleInput.value = '回复 ' + '{{ post.title }}';
          titleInput.setAttribute('disabled', 'disabled');
          saveBtn.setAttribute('data-action', 'reply');
          if (username) editor.setHTML('<span style="color:#638911">@'+ username +'</span>&nbsp;');
        }
        // editor.addModule('toolbar', { container: '#toolbar' });
      }
    })
    .modal('show');
  event.preventDefault();
  event.stopPropagation();
}

// 点击弹出的modal去除error样式类
document.getElementById('js-id-modal').addEventListener('click', function (event) {
  var errorField = document.getElementById('js-id-modal').querySelector('.error');
  if (errorField) errorField.className = 'field';
});

// 把编辑器的内容写到textarea，然后post提交
document.getElementById('js-id-btn-save').addEventListener('click', function (event) {
  if (editor.getText().trim() == '') {
    document.getElementById('js-id-modal-editor').parentElement.className = 'field error';
    event.stopPropagation();
    event.preventDefault();
    return false;
  }
  var form = document.getElementById('js-id-form');
  form.querySelector('textarea').innerHTML = editor.getHTML();
  var data = new FormData(form),
    action = this.getAttribute('data-action');
    url = (action == 'edit') ? '{% url 'edit_post' post.id %}' : '{% url 'reply_post' post.id %}';
  ajaxWrapper('POST', url, data, function (response) {
    $('#js-id-modal').modal('hide');
    (action == 'edit') ? location.reload() : renderReply(response);
  });
});

// 鼠标移上显示[删除] (mobile不显示)
var footers = document.querySelectorAll('.segment .footer');
for (var i = 0; i < footers.length; i++) {
  footers[i].addEventListener('mouseenter', addIcons);
  footers[i].addEventListener('mouseleave', removeIcons);
}
function addIcons(event) {
  var srcElement = event.target || event.srcElement,
    type = srcElement.getAttribute('data-type'),
    objectId = srcElement.getAttribute('data-object-id'),
    removeIcon = document.createElement('li'),
    editIcon = document.createElement('li');
  if (srcElement.querySelector('.meta a').innerHTML != '{{ request.user.username }}') return; //从右下角的meta信息判断是否为作者
  removeIcon.innerHTML = '<a href="javascript:void(0)"><i class="remove sign icon"></i>删除</a>';
  editIcon.innerHTML = '<a href="javascript:void(0)"><i class="edit sign icon"></i>编辑</a>';
  srcElement.querySelector('.post-toolbar ul').appendChild(removeIcon);
  if (type == 'post') {
    {% if request.user == post.author %}
    srcElement.querySelector('.post-toolbar ul').appendChild(editIcon);
    editIcon.addEventListener('click', function (event) {
      showModal(event, srcElement, true);
    });
    {% endif %}
    removeIcon.setAttribute('data-html', '确定要删除主题？ <a class="ui button red tiny" style="width: 3rem;" onclick="removeObject('+ objectId +', \''+ type +'\')">删除</a>');
    $(removeIcon).popup({ on: 'click', position: 'top right' });
    return false;
  }
  
  removeIcon.addEventListener('click', function () {
    removeObject(objectId, type);
  });
}
function removeIcons(event) {
  var srcElement = event.target || event.srcElement,
    icons = srcElement.querySelectorAll('.post-toolbar ul li');
  if (icons.length > 1) icons[0].parentElement.innerHTML = icons[0].outerHTML;
}

// 删除post(主题)或是reply(回帖)
function removeObject(objectId, type) {
  ajaxWrapper('GET', '/posts/delete/', {
    'object_id': objectId,
    'type': type
  }, function (response) {
    if (response.status != 'ok') {
      alert(response.errorMessage);
      return;
    }

    if (type == 'post') {
      location.href = '{% url 'category' post.category.id %}';
      return;
    }
    else {
      var reply = document.getElementById('js-id-reply-'+ objectId);
      reply.style.opacity = 0;
      sleep(300, function () {
        reply.remove();
      });
    }

  });
}

var images = document.querySelectorAll('#post-and-reply .content img');
for (var i = 0; i < images.length; i++) {
  images[i].className = 'ui image';
}

</script>
{% endblock %}
