{% extends "base.html" %}
{% load string_filter user_tags %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui huge breadcrumb">
    <a class="section" href="/">首页</a>
    <div class="divider"> / </div>
    <a class="section" href="">{{post.category.name}}</a>
    <div class="divider"> / </div>
    <div class="active section">{{post.title}}</div>
  </div>
  <div class="ui divider"></div>
  <div>
    <div class="ui segment" id="js-id-post-{{ post.id }}">
      <div class="ui grid stackable">
        <div class="eight wide column">
          <div class="card">
            <div class="content">
              <img class="floated ui image" src="{{ post.author.email|gravatar }}">
              <div class="header"><h3><a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></h3></div>
              <div class="meta">发表于 {{ post.created_at|timesince }}</div>
              <div class="actions" data-type="post" data-id={{ post.id }}>
                {% if request.user == post.author %}
                <a href="javascript:void(0)" class="js-delete">删除</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui horizontal divider">Text</div>
      <div class="content">
        {{ post.content|filter_xss|safe }}
      </div>
    </div>

    <div class="ui segment" id="replylist" data-post-id={{post.id}}></div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
