{% extends "base.html" %}
{% load string_filter users_tags %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div class="container">
  <div class="ui huge breadcrumb">
    <a class="section" href="/">首页</a>
    <div class="divider"> / </div>
    <a class="section" href="{% url 'category' post.category.id %}">{{post.category.name}}</a>
    <div class="divider"> / </div>
    <div class="active section">{{post.title}}</div>
  </div>
  <div class="ui divider"></div>
  <div>
    <div class="ui segment" id="js-id-post-{{ post.id }}">
      <div class="ui grid stackable">
        <div class="eight wide column">
          <div class="card">
            <div class="content">
              <img class="floated ui image" src="{{ post.author.email|gravatar }}">
              <div class="header"><h3><a href="{% url 'profile' post.author.id %}">{{ post.author }}</a></h3></div>
              <div class="meta">发表于 {{ post.created_at|timesince }}</div>
              <div class="actions" data-type="post" data-id={{ post.id }}>
                {% if request.user == post.author %}
                <a href="javascript:void(0)" class="js-delete">删除</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui tiny statistics">
            <div class="statistic">
              <div class="value">{{ post.count.reply }}</div>
              <div class="label">Replies</div>
            </div>
            <div class="statistic">
              <div class="value">{{ post.pageviews }}</div>
              <div class="label">Views</div>
            </div>
            <div class="statistic">
              <div class="value">0</div>
              <div class="label">Like</div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui horizontal divider">Text</div>
      <div class="content">
        {{ post.content|removetags:"script"|safe }}
      </div>
    </div>

    <div class="ui segment" id="js-id-comments">
      <div class="ui comments">
      {% for reply in post_replies %}
        <div class="comment" id="js-id-reply-{{ reply.id }}">
          <a href="{% url 'profile' post.author.id %}" class="avatar"><img class="ui image avatar" src="{{ reply.author.email|gravatar }}" ></a>
          <div class="content">
            <a class="author">{{ reply.author }}</a>
            <div class="metadata"><div class="date">{{ reply.created_at|timesince }}</div></div>
            <div class="text">{{ reply.content|removetags:"script"|safe }}</div>
            <div class="actions">
              <!-- <a class="edit">编辑</a> -->
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>

$('.actions .js-delete').popup({
  inline: true,
  on: 'click',
  position : 'bottom left',
  html: '删除主题？ <button class="ui red button mini" onclick="removeObject(event)">删除</button>',
  variation: 'mini'
});

var removeObject = function (e) {
  var $actions = $(e.currentTarget).closest('.actions');

  $.get('/posts/delete/', {object_id: $actions.data('id'), type: $actions.data('type')}, function () {
    $('.actions .js-delete').popup('hide');
    location.href = '{% url 'category' post.category_id %}';
  });
};

var scrollToBottom = function () {
  window.scrollTo(0, document.body.scrollHeight);
};

var Comments = React.createClass({displayName: "Comments",
  getInitialState: function () {
    return {
      comments: [],
      defaultText: ''
    };
  },
  componentDidMount: function() {
    $.get(null, function(response) {
      if (this.isMounted())
        this.setState({comments: response});
    }.bind(this));
  },
  _reply: function (i, _self) {
    var replyFormTextarea = React.findDOMNode(this.refs.replyFormTextarea),
      comment = _self.state.comments[i];
    replyFormTextarea.focus();
    replyFormTextarea.value = '@' + comment.user.username + ' ';
  },
  _handleSubmit: function (e) {
    e.preventDefault();
    var replyFormTextarea = React.findDOMNode(this.refs.replyFormTextarea);
    if (!replyFormTextarea.value || replyFormTextarea.value == '') return;
    $.post('{% url 'reply_post' post.id %}', {content: replyFormTextarea.value}, function (response) {
      var comments = this.state.comments;
      response['style'] = {display: 'none'};
      comments.push(response);

      this.setState({comments: comments}, function () {
        replyFormTextarea.value = '';
        $('.comment:hidden').transition('fade');
        scrollToBottom();
      }.bind(this));
    }.bind(this));
  },
  render: function () {
    return (
      React.createElement("div", {className: "ui comments"},
        React.createElement("form", {ref: "replyForm", className: "ui reply form", onSubmit: this._handleSubmit}
          {% if user.is_authenticated %}
          ,React.createElement("div", {className: "field"}, React.createElement("textarea", {ref: "replyFormTextarea"})),
          React.createElement("button", {className: "ui primary submit labeled icon button"},
            React.createElement("i", {className: "icon edit"}), " 回复"
          )
          {% endif %}
        ),
        this.state.comments.map(function (comment, i) {
          return (
            React.createElement("div", {className: "comment", style: comment.style},
              React.createElement("a", {href: '/accounts/profile/' + comment.user.id + '/', className: "avatar"}, React.createElement("img", {className: "ui image avatar", src: comment.user.gravatar})),
              React.createElement("div", {className: "content"},
                React.createElement("a", {className: "author"}, comment.user.username),
                React.createElement("div", {className: "metadata"}, React.createElement("div", {className: "date"}, comment.created_at || '0 minutes')),
                React.createElement("div", {className: "text"}, React.createElement("div", {id: "line-1", className: "line"}, comment.content)),
                React.createElement("div", {className: "actions"},
                  React.createElement("a", {href: "javascript:void(0)", onClick: this._reply.bind(null, i, this)}, "回复")
                )
              )
            )
          );
        }, this)
      )
    )
  }
});

var comments = React.render(
  React.createElement(Comments, null),
  document.getElementById('js-id-comments')
);


if (location.hash == '#latest') scrollToBottom();
</script>
{% endblock %}
