  <div class="ui segment">
    <a id="js-id-add-post-button" href="javascript:void(0)" class="ui button green">发布主题</a>
    <div id="js-id-add-post-form" class="ui form" style="display: none;">

      {% if user.is_authenticated %}
      <form id="id_post_form" method="post" action="/posts/create/" onsubmit="return checkPostForm(this);">
        {% csrf_token %}
        <div class="field">
          <label for="title">标题</label>
          <input type="text" id="id_title" name="title">
          <div class="ui red pointing above ui label" style="display:none;"></div>
        </div>
        {% if not category.id %}
        <div class="field">
          <label for="id_category">分类</label>
          <div class="controls">
            <select id="id_category" name="category_id" class="input-middle">
              <option value="0">请选择</option>
              {% for category in CATEGORIES %}
                <option value="{{category.id}}">{{ category.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% else %}
        <input type="hidden" name="category_id" value="{{ category.id }}">
        {% endif %}

        {% if category.id == 4 %}
        <div class="field">
          <label for="id_tag">类型</label>
          <div>
            {% for tag in category.categorytag_set.all %}
            <label>
              <input name="tag" type="radio" value="{{tag.id}}"> {{tag.name}}
            </label>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="field">
          <label for="id_content">内容</label>
          <div id="js-id-post-editor"></div>
          <textarea id="id_content" name="content" style="display: none;"></textarea>
        </div>

        <button type="submit" class="ui blue submit button">提交</button><div type="submit" class="ui button" style="margin-left: 20px;" id="js-id-cancel-button">取消</div>
      </form>
      <!--form enctype="multipart/form-data">
        <input id="js-id-input-upload-photo" name="upfile" type="file" accept="image/jpeg,image/jpg,image/png,image/x-png;capture=camera" style="display: none;" />
        <i class="photo icon" id="js-id-icon-photo"></i>
      </form-->
      {% else %}
      <div class="ui floating message">
        <strong>发布信息前请先<a href="/login/?next=/post/category/{{category.id}}/">登录</a>。</strong> 
      </div>
      {% endif %}
    </div>
  </div>
<div class="ui dimmer" id="js-id-mask">
  <div class="ui loader"></div>
</div>
<script>
var addPostButton = document.getElementById('js-id-add-post-button'),
  cancelButton = document.getElementById('js-id-cancel-button'),
  addPostForm = document.getElementById('js-id-add-post-form'),

  photoIcon = document.getElementById('js-id-icon-photo'),
  photoInput = document.getElementById('js-id-input-upload-photo');

addPostButton.addEventListener('click', function () {
  addPostButton.style.display = 'none';
  addPostForm.style.display = '';
});
cancelButton.addEventListener('click', function () {
  addPostButton.style.display = '';
  addPostForm.style.display = 'none';
});

if (typeof(editor) != 'object') window.editor = new Quill('#js-id-post-editor');
photoIcon.addEventListener('click', function () {
  $('#js-id-input-upload-photo').trigger('click');
});

photoInput.addEventListener('change', function () {
  var formData = new FormData($(this).closest('form')[0]);
  $.ajax({
    url: '/ajax/upload/images/', 
    type: 'POST',
    // xhr: function () { 
    //   var myXhr = $.ajaxSettings.xhr();
    //   if(myXhr.upload){
    //     alert('uploaded');
    //   }
    //   return myXhr;
    // },
    beforeSend: function () {
      $('#js-id-mask').addClass('active');
    },
    success: function (response) {
      editor.insertEmbed(editor.getLength(), 'image', '/{{request.user.id}}/' + response + '!main');
      $('#js-id-mask').removeClass('active');
    },
    error: $.noop,
    data: formData,
    cache: false,
    contentType: false,
    processData: false
  });
});

function checkPostForm (form) {
  var titleInput = $(form).find('#id_title');
  if (titleInput.val() == '') {
    titleInput.closest('.field').addClass('error');
    titleInput.focus();
    return false;
  }
  $('#id_content').val(editor.getHTML());
}
</script>