{% extends "base.html"  %}
{% block title %}注册{% endblock %}

{% block content %}
<div class="container">
  <div class="ui breadcrumb">
    <a class="section" href="/">首页</a>
    <div class="divider"> / </div>
    <div class="active section">注册</div>
  </div>

  <div class="two column doubling ui grid">
    <div class="column">
      <div class="ui form segment">
        <form id="js-id-form-login" action="" method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="field">
            <label for="id_username">用户名</label>
            <div class="ui left icon input">{{form.username}}</div>
            <div class="ui red pointing above ui label" style="display:none;">{{form.username.errors}}</div>
          </div>
          <div class="field">
            <label for="id_password">密码</label>
            <div class="ui left icon input">{{form.password}}</div>
            <div class="ui red pointing above ui label" style="display:none;">{{form.password.errors}}</div>
          </div>
          <div class="field">
            <label for="id_confirm_password">确认密码</label>
            <div class="ui left icon input">{{form.confirm_password}}</div>
            <div class="ui red pointing above ui label" style="display:none;">{{form.confirm_password.errors}}</div>
          </div>
          <div class="field">
            <label for="id_email">E-mail</label>
            <div class="ui left icon input">{{form.email}}</div>
            <div class="ui red pointing above ui label" style="display:none;">{{form.email.errors}}</div>
          </div>
          <button class="ui button green" type="submit">注册</button>
        </form>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <p>已经注册了？点击链接<a href="{% url 'login' %}" class="btn btn-success">登陆</a></p>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}