.clearfix:after {content: ".";display: block;height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
a, img {
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  margin:0px;
  padding:0px;
  color: #333;
  background: url('../images/bg.jpg');
  font-family: Microsoft YaHei, Arial, Tahoma;
}

#top-menu {
  border-radius: 0px;
  img.avatar {
    width: 18px;
    height: 18px;
  }
}

#main {
  margin: 1% 1%;
}

#profile {
  .number {
    font-size: 32px;
    font-family: Tahoma;
  }
}

#footer {
  text-align: center;
}

/* RESET SEMANTIC-UI START */
.ui.segment {
  border-radius: 0px;
}

/* RESET SEMANTIC-UI END */