{% extends 'base.html' %}
{% load string_filter users_tags %}
{% block title %}首页{% endblock %}

{% block content %}
<div class="container">
  <div class="ui cards">
    {% for category in CATEGORIES %}
      <div class="card">
        <div class="image">
          <a href="{% url 'category' category.id %}"><i class="icon {{ category.icon }}" style="font-size: 240px; line-height: 1;"></i></a>
        </div>
        <div class="content">
          <div class="header"><a href="{% url 'category' category.id %}">{{ category.name }}</a></div>
          <div class="meta">
            <a href="{% if category.latest_post %}{% url 'post_detail' category.latest_post.id %}{% endif %}">{{ category.num_posts }} Posts</a>
          </div>
          <div class="description">{{ category.description|safe }}</div>
        </div>
        <div class="extra content">
          <span class="right floated">
            <a href="{% if category.latest_post %}{% url 'post_detail' category.latest_post.id %}{% endif %}">{{ category.latest_post.created_at|timesince }}</a>
          </span>
          <span>
            <i class="user icon"></i>
            {{ category.latest_post.author }}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
