{% extends 'base.html' %}
{% load string_filter users_tags %}
{% block title %}首页{% endblock %}

{% block content %}
<div id="main">
  <div class="ui grid" id="home">
    <div class="twelve floated wide column" style="margin: 0px;">
      <div class="three column doubling ui grid">
      {% for category in CATEGORIES %}
        <div class="column">
          <div class="category">
            <header class="header" onclick="location.href='{% url 'category' category.id %}';">
              <i class="icon {{ category.icon }}"></i>
              <p class="meta"></p>
            </header>
            <div class="title"><h2><a href="{% url 'category' category.id %}">{{ category.name }}</a></h2></div>
            <div class="posts">
              {% for post in category.posts %}
              <div class="post-preview">
                <a href="{% url 'profile' post.author.id %}" title="{{ post.author.username }}" style="float:left;"><img class="ui image avatar" src="{{ post.author.email|gravatar }}" /></a>
                <h4 class="post-title">{{ post.title }}</h4>
                <div class="post-content">{{ post.content|removetags:'p div img br'|substring:200|safe }}</div>
                <div class="meta">{{ post.created_at|date:"Y-m-d H:i:s" }} | <a href="{% url 'post_detail' post.id %}">阅读全文</a></div>
                <div class="clearfix"></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="right floated four wide column">
      <div class="ui segment">
      <p>Erya是基于SemanticUI开发的内容发布系统，主要用来搭建BBS，关注多屏自适应和前端实时交互。</p>
      <iframe src="http://ghbtns.com/github-btn.html?user=perchouli&repo=erya&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      </div>
      <h4 class="ui top attached header">最新回复</h4>  
      <div class="ui segment attached">
        <div class="posts">
          {% for reply in recent_replies %}
          <div class="post-preview">
            <a href="{% url 'profile' reply.author.id %}" class="avatar" title="{{ reply.author.username }}"><img class="ui image avatar" src="{{ reply.author.email|gravatar }}" /></a></a>
            <div class="post-content">{{ reply.content|removetags:'p div img'|safe }}</div>
            <div class="meta">{{ reply.created_at|date:"H:i:s" }} | <a href="{% url 'post_detail' reply.post.id %}">阅读全文</a></div>
            <div class="clearfix"></div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
